@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}
html{
    font-size: 15px;
    /* 1rem의 기준 */
}
h1{
    text-align: center;
    margin: 100px 0;
    font-size: 5rem;
    /* 앞으로 h1은 html px값에 X 5rem 됨 */
    /* 바꾸고 싶으면 html px을 변경 거기에 무조건 X 5 임 */
    /* h1은 5rem이 기준이 되고 아래 반응형에서 html 폰트 사이즈를 바꾸면 비율이 같게 사이즈가 변경이 될 거임 */
    /* h1:5rem, h2:4rem, p:2rem, span:1rem 하면 하나하나 안바꿔도 비율 유지 할 수있음 */
}
h2{
    text-align: center;
    font-size: 5vw;
    /* 반응형에 폰트 최소값은 꼭 설정해줘야함 */

}

.container{
    position: relative;
    width: 80%;
    margin: auto;
    max-width: 650px;
    min-width: 270px;
    background-color: aquamarine;
}
.card li:first-child{
    background-color: rgb(255, 219, 247);
}
.card li{
    display: flex;
    /* display는 gap!!잊지말기!!! */
    gap: 20px;
    align-items: center;
    padding: 20px;
}
.card li img{
    width: 60%;
}
.card-txt{
    width: 40%;
    background-color: blanchedalmond;
}
.card .house{
    display: none;
}
.card .product{
    display: none;
}


/* 반응형 */
@media screen and (max-width : 768px) {
    .card li{
        flex-direction: column;
    }
    .card li img{
        width: 100%;
    }
    .card-txt{
        width: 100%;
        background-color: blanchedalmond;
    }
    html {
        font-size: 13px;
        /* 13px x  5 (rem)이 될거임  */
    }
    h2{
        font-size: 16px;
        /* 폰트 최소 사이즈 */
    }
}
@media screen and (max-width : 390px) {
    /* .card-txt h3{
        font-size: 13px;
    }
    .card-txt p{
        font-size: 10px;
    } */
     html{
        font-size: 5px;
     }
    .card-txt{
        background-color: #fff;
    }
    .container{
        background-color: rgb(157, 255, 170);
    }
    .container li:first-child{
        background-color: rgb(255, 149, 149);
    }
    .card .clock{
        display: none;
    }
    .card .house{
        display: block;
    }
    .card .book{
        display: none;
    }
    .card .product{
        display: block;
    }
}